<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
    </head>
    <body>
        <nav class="">
            <ul class="">
                <div class="">
                    <img src="">
                </div>
                <li><a href="#Articles">Articles</a></li>
                <li><a href="#Your Account">Account</a></li>
                <li><a href="#Authors">Authors</a></li>
            </ul>

            <div class="">
                <input type="text" author="search" id="search">
                <button class="btn btn-sm">Search</button>
            </div>
        </nav>
        <h1>This is the Web Homepage</h1>
        <p>Welcome To Kaizen Application</p>
    </body>
</html>